:root {
  --color-light: #fffaff;
  --color-grey: #303036;
  --color-black: #050401;
  --color-blue: #30bced;
  --color-red: #fc5130;
}

/* SCROLLBAR START */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/* SCROLLBAR END */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background: linear-gradient(-45deg, #541B10, #A83620, var(--color-red), var(--color-blue), #2591B6, #144E63);
  background-size: 800% 800%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}

main {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.menu-btn {
  display: block;
  writing-mode: vertical-rl;
  background: none;
  margin: 0 2rem 0 0;
  padding: 0;
  align-items: center;
  transform: rotate(-90deg);
  font-size: large;
}

.menu-btn i {
  margin-left: 0.5rem;
}

.icon {
  filter: brightness(0) saturate(1);
}

#reg2vote i, #info i, #search i {
  font-size: 3rem;
}

.img-description {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(270deg,#e6e6e6 0%, #e6e6e6 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in ;
}

.img-wrap:hover .img-description, .img-wrap:focus .img-description, .img-wrap:active .img-description {
  visibility: visible;
  background-size: 100% 0.2rem;
  opacity: 1;
}

.logo-container {
  margin-left: 18vw;
}

.animate__animated.animate__fadeInLeft {
  animation-duration: 3s;
  animation-delay: 150ms;
}

.animate__animated.animate__fadeIn {
  animation-duration: 1.5s;
  animation-delay: 3s;
}

.search {
  display:flex;
  justify-content: flex-end;
  align-self: center;
  margin-top: 2%;
  margin-left: 38vw;
}

#search-bar {
  display: flex;
}

.search input {
  background-color: var(--color-light);
  font-size: 0.8rem;
  padding-left: 0.5rem;
  width: 25rem;
  height: 2rem;
  border-radius: 15px;
}
#search-button.btn {
  padding-left: 2%;
  margin-bottom: 1rem;
}


#search-button a {
  color: var(--color-black);
  font-size: 1.5rem;
  opacity: 1;
}

/* AUTOCOMPLETE START */
#result {
  padding: 3px;
  position: relative;
}
#result ul {
  list-style-type: none;
  padding-left: 1%;
  margin: 0;
  color: var(--color-light);
  position: absolute;
  overflow: visible;
}
#result ul li {
  padding: 0.5rem 0.5rem;
  margin-bottom: 1rem;
}

#result ul li:hover {
  background: var(--color-grey);
  border-radius: 15px;
}
/* AUTOCOMPLETE END */

/* ACCORDION START */
.ui-widget {
  background-color: var(--color-grey);
  color: var(--color-light);
  padding: 15px;
  overflow:scroll;
  height: 80vh;
  width: 90vw;
  margin-left: 5vw;
  overflow-x: hidden;
  border-radius: 15px;
}

.ui-widget-header {
  font-size: 2rem;
  margin-bottom: 5px;
  border: none;
  font-weight: bolder;
}

/* .ui-widget-header:active {
  background-color: var(--color-red);
  color: var(--color-grey);
} */

.ui-widget-content {
  font-size: 0.75rem;
  text-align: left;
  margin-bottom: 10px;
  align-items:center;
  border: none;
  border-top: solid 2px var(--color-blue);
  background-color: var(--color-grey);
  color: var(--color-light);
  /* height: 56vh; */
  /* overflow: scroll;
  overflow-x: hidden; */
}

.ui-corner-all {
  border-radius: 15px;
}

#results-page {
  display: none;
  display: flex;
}

.official-container {
  align-items: center;
  border-top: inset 1px var(--color-blue);
}

#local-info:first-child {
  border: none;
}

.official-container h3 {
  font-size: 1.2rem;
  font-style: italic;
}

.official-container h4 {
  font-size: 1.2rem;
  font-weight: bold;
}

.accordion h2 {
  color: var(--color-light);
  font-weight: bolder;
  font-size: 1.5rem;
  border-bottom: solid 1px var(--color-red);
  background-color: var(--color-grey);
}

#information {
  margin-top: 1rem;
}

#social-media p {
  line-height: 1;
  margin: 0;
}

.congress-info {
  display:flex;
  justify-content: space-around;
}

.congress-info-container {
  width: 45%;
}

.congress-info-container p {
  line-height: 1;
  margin: 0;
}

.congress-info-container div h4 {
  font-size: 1.1rem;
  font-weight: bold;
  border-bottom: solid 1px var(--color-blue);
}

.congress-info-container h5 {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: underline var(--color-red);
  margin-bottom: 1%;
}

.congress-info-container p span {
  font-weight: bold;
}


.last-updated{
  font-weight:bold;
  padding-top: 0.5rem;
}

.credits{
  font-size: 0.75rem;
  padding-top: 1rem;
}

.credits p {
  line-height: 1;
  margin: 0 0 0.2rem 0;
}

.notice {
  line-height: 1;
  font-style: italic;
}

.origin {
  font-weight: bold;
  text-transform: uppercase;
}

.credits p a {
  font-style: italic;
}

.pac-contributors {
  margin-bottom: 1rem;
}
  /* ACCORDION END */

  /* MODAL START */
#modal1 {
  background: none;
  color: var(--color-light);
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: none;
}

#modal1 div {
  position: absolute;
  top: 30%;
  left: 15%;
}

#modal1 button {
  position:absolute;
  top: 30%;
  right: 25%;
  font-size: 5rem;
  color: var(--color-light);
}
  /* MODAL END */

@media only screen and (max-width: 762px) {
  .img-description {
    visibility: visible;
    opacity: 1;
    font-size: 0.75rem;
    margin-top: 0;
  }

  .icon {
    font-size: 2rem;
    margin-bottom: 0;
  }

  .ui-widget {
    width: 85vw;
  }

  .ui-widget-content {
    overflow-x: hidden;
  }

  .congress-info {
    flex-direction: column;
    justify-content: center;
  }

  .congress-info-container {
    width: 100%;
  }

  .congress-info-container div h4 {
    font-size: 0.9rem;
    margin-top: 2%;
    border-bottom: dashed 1px var(--color-red);
  }

  .congress-info-container h5 {
    font-size: 0.8rem;
    text-decoration: underline var(--color-light);
    margin-top: 5%;
  }

  .origin {
    padding-top: 5%;
  }

  .source {
    padding-top: 5%;
    color: var(--color-red);
  }
}

@media only screen and (max-width:375px) {
  .logo-container{
    margin-left: 8vw;
  }

  #logo1 {
    height: 8vh;
  }

  #logo2 {
    height: 8vh;
  }

  .search{
    margin-left: 0;
  }

  .search input {
    width: 60vw;
    height: 1.5rem;
  }

  #search-button a {
    font-size: 1.2rem;
  }

  .menu-btn {
    margin-right: 1vw;
    font-size: 0.75rem;
  }
}